---
---
@import "syntax-highlighting";

body {
	margin: 0 !important;
}

.in-iframe {
	.navbar,
	footer,
 	.tutorial-nav,
 	hr,
 	.breadcrumb, .coursepartdetails, .progressbarcreate, .hidewhenincreate, iframe {
	 	display: none;
 	}

	.showwhenincreate {
		display: block;
	}

	img {
		max-width: 100%;
		display: block;
		margin: 20px auto 40px auto;
	}

	.homeh1 h1 {
		text-align: center;
	}

	.continue-tutorial, .createhr, .lear {
		display: block ;
	}

	.createhr {
		margin-top: 20px;
		color: #6d6d6d;
	}

	.overviewblock {
		h2 {
			height: 34px;
		}
		.title {
			padding: 0 10px;

		}

		.shortdescription, .difparent {
			display: none;
		}

		.button {
			margin: 0;
			// display: block;
			text-align: center;
			width: 170px;
			padding: 5px 0;
		}

		.imgcontainer {
			display: none;
		}
		.imgcontainer-create {
			img {
				display: block;
				width: auto;
				height: 60px;
				float: right;
				margin-top: 0;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	p, li, ol {
		font-size: 12px;
		font-weight: normal;
	}
	ol, ul {
		padding-left: 20px;
	}
	.next-button,  .prev-button {
		margin-bottom: 5px;
	}

	.expanded {
		display: block;
	}

	.hidden {
		display: none;
	}

	.hide {
		display: none;
	}

	.container, .infocontainer {
		margin: 15px;
	}

	figure.highlight {
		margin: 0;
	}
	figure.highlight pre {
		padding: 10px;
		font-size: 12px;
	}
	table {
		font-size: 12px;
	}
	iframe {
		width:  100%;
		height: 50vw;
		border: 0;
	}
	.jumbotron{
		display: none;
	}

	.learncreate-header {
		display: none;
		margin-bottom: 10px;
		height: 40px;
		line-height: 30px;
		.goback {
			position: absolute;
			padding-left: 10px;
			// width: 40px;
			text-align: center;
			cursor: pointer;
		}
		.learnlogo {

		}
		.title {
			text-transform: uppercase;
			letter-spacing: .05em;
			font-weight: 500;
			background-image: url("../fonts/single_icons/learn.svg");
			background-position: left;
			background-repeat: no-repeat;
			padding-left: 30px;
		}
	}

	.create-course-info{
		display: block;
		.infocontainer {
			background-color: #252525;
			margin: 10px;
			padding: 4px 8px;
			cursor: pointer;
			.info-title {
				padding: 5px 0;
				text-align: center;
				.icon-arrow-right, .icon-arrow-down {
					float: left;
				}
			}
			.info-content {
				padding: 5px 0;
				margin-bottom: 10px;
				.course {
					p {
						text-align: center;
					}
					.progressbarcontainer {
						margin: 0 auto;
						display: block;
					}
				}
				.tag {
					display: inline-block;
					font-size: 14px;
					background-color: #1d1d1d;
					padding: 3px 7px;
					margin: 0 5px 5px 0;
					text-transform: capitalize;
				}
				.tag:last-of-type {
					margin-bottom: 10px;
				}
				.goofont-icon-checked {
					color: #8bc34a;
					padding: 4px 4px 0 0;
				}
				.achievement {
					font-size: 14px;
				}
				.progressbarcontainer {
					width: 100px;
					height: 100px;
					display: inline-block;
					margin: 0 auto;
					.progressbar-text {
						font-weight: bold;
					}
					.progressbar-text:after {
						content: "%";
					}
				}
			}
		}
	}
	.learncreate-header {
		width: 100%;
		padding: 5px 0;
		text-align: center;
		background-color: #252525;
	}
	.button {
		width: 100%;
		padding: 10px 10px;
		color: white;
		background-color: #6d6d6d;
		text-align: center;
		text-transform: uppercase;
		border-radius: 3px;
		transition: all 0.3s ease 0s;
		margin-bottom: 10px;
		font-size: 12px;
	}

	.button:hover {
		background-color: #545454;
	}

	a:hover {
		text-decoration: none;
	}
}
