---
---
@import "syntax-highlighting";

body {
	margin: 0 !important;
}

.in-iframe {
	.navbar,
  footer,
 .tutorial-nav,
 hr,
 .breadcrumb, .coursepartdetails {
	 display: none;
 }
  img {
	 max-width: 100%;
	 display: block;
	 margin: 10px auto;
 }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	 font-weight: bold;
 }
  .next-button,  .prev-button {
	 margin-bottom: 5px;
 }

	.expanded {
		display: block;
	}

	.hidden {
		display: none;
	}

	.hide {
		display: none;
	}

 .container, .infocontainer {
	 margin: 10px;
 }

  figure.highlight {
	 margin: 0;
 }
  figure.highlight pre {
		 padding: 10px;
		 font-size: 12px;
 }
  table {
		 font-size: 12px;
 }
  iframe {
		 width:  100%;
		 height: 50vw;
		 border: 0;
 	}
	.jumbotron{
		display: none;
	}
	.create-course-info{
		display: block;

		.learncreate-header {
			margin-bottom: 10px;
			height: 40px;
			line-height: 30px;
			.learnlogo {

			}
			.title {
				text-transform: uppercase;
				letter-spacing: .05em;
				font-weight: 500;
				background-image: url("../fonts/single_icons/learn.svg");
				background-position: left;
				background-repeat: no-repeat;
				padding-left: 30px;
			}
		}
		.infocontainer {
			background-color: #252525;
			margin: 10px;
			padding: 4px 8px;
			cursor: pointer;
			.info-title {
				padding: 5px 0;
				text-align: center;

				.icon-arrow-right, .icon-arrow-down {
					float: left;
				}
			}
			.info-content {
				padding: 5px 0;
				margin-bottom: 10px;
				.tag {
					display: inline-block;
					font-size: 14px;
					background-color: #1d1d1d;
					padding: 3px 7px;
					margin: 0 5px 5px 0;
					text-transform: capitalize;
				}
				.tag:last-of-type {
					margin-bottom: 10px;
				}
				.goofont-icon-checked {
					color: #8bc34a;
					padding: 4px 4px 0 0;
				}
				.achievement {
					font-size: 14px;
				}
				.progressbarcontainer {
					width: 100px;
					height: 100px;
					display: inline-block;
					margin: 0 auto;
					.progressbar-text {
						font-weight: bold;
					}
					.progressbar-text:after {
						content: "%";
					}

				}
			}
		}
	}
	.learncreate-header {
		width: 100%;
		padding: 5px 0;
		text-align: center;
		background-color: #252525;
	}
	.button {
		width: 100%;
		padding: 15px 10px;
		color: white;
		background-color: #6d6d6d;
		text-align: center;
		text-transform: uppercase;
		border-radius: 3px;
		transition: all 0.3s ease 0s;
		margin-bottom: 10px;
	}

	.button:hover {
		background-color: #545454;
	}

	a:hover {
		text-decoration: none;
	}
}
