---
---

@import 'vars';
@import 'mixins';
@charset "utf-8";

html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}

footer {
	font-size: 12px;
	padding-bottom: 30px;
}

.content {
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		padding: $padding;
	}

	table img {
		min-width: 100px;
	}

	table h4 {
		font-weight: bold;
		margin-bottom: 10px;
	}

	video {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		padding: $padding * 2;
	}
}

iframe {
	width: 100%;
	height: 400px;
	border: none;
	margin: 0 auto;
}

.header-link {
	color: $goo-blue;
	position: absolute;
	left: -20px;
	top: 50%;
	margin-top: -8px;
	opacity: 0;
	font-size: 16px;

	-webkit-transition: opacity 0.2s ease-in-out 0.1s;
	-moz-transition: opacity 0.2s ease-in-out 0.1s;
	-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
	opacity: 1;
}

@for $i from 1 through 5 {
	.indent-#{$i} {
		&a.list-group-item,
		&button.list-group-item,
		&.list-group-item {
			padding: 3px $padding;
			padding-left: $indent * $i;
			font-weight: 300 !important;
			font-size: 14px;
		}
	}
}

.homeh1 {
	color: $goo-blue;
	text-align: center;
	:hover {
		color: $goo-blue;

	}
}

.continue-button {
	font-size: 24px;
}

.searchcontainer {
	$searchinputheight : 35px;

	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-color: $goo-blue;
	input[type='text'], select, .checkboxholder{
		width: 100%;
		color: $gray;
		border: none;
		height: $searchinputheight;
    padding: 6px 12px !important;
	}
	select {
		padding: 1px 0;
		color: $goo-blue;
		font-weight: bold;
	}
	select option[selected], label, .checkboxholder{
		color: $goo-blue;
		font-weight: bold;
	}
	.checkboxholder {
		background-color: white;
		display: inline-block;
		width: 150px;
		transition: all 0.3s ease 0s;
		height: $searchinputheight;
		text-align: center;
		padding-top: 6px;
		cursor: pointer;

		.checkbox{
		  height: 16px;
		  width: 16px;
		  display:inline-block;
			float: right;
		  padding: 0 0 0 0px;
		}
	}
	.checkboxholder:hover {
		background-color: #DDF3FF;

	}
}

.col-md-4 {
	min-height: 0;
}

.titlepart {
	font-weight: normal;
}

.button {
	background-color: $goo-blue;
	padding: 15px 30px;
	color: white;
	text-align: center;
	display: table;
	transition: all 0.3s ease 0s;
}

.button:hover {
	background-color: #309DD8;
}

.largebutton {
	font-size: 18px;
	font-weight: normal;
	span {
		font-weight: lighter;
	}
}

.width100 {
	width: 100%;
}

.centerbutton {
	margin: 0 auto;
}

.videotutcontainer {
	background-color: $gray-dark;
	.container {
		background-color: $gray-dark;
		.videotutorial {
			height: 500px;
		}
	}
}



.overviewblock {
	background-color: $gray-verylight;
	padding: 15px 25px;
	margin: 0 4px 35px 4px;
	text-align: center;
	.shortdescription {
		height: 95px;
	}
	.button {
		margin: 25px 0 10px 0;
		width: 100%;

	}
	p {
		margin-bottom: 15px;
	}
	h2, .difficulty {
		margin-bottom: 10px;
	}
	h2 {
		font-size: 20px;
		font-weight: normal;
	}
	.difficulty, .button {
		font-size: 18px;
	}
	hr {
		border-top-color: $gray-light;
		margin: 15px 0;
	}
	.imgcontainer {
		height: 160px;
		margin-bottom: 25px;
		img {
			width: 100%;
			height: auto;
			margin-bottom: 25px;
		}
	}

	.progressbarcontainer {
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: 0 auto;
		.progressbar-text {
			font-weight: bold;
		}
		.progressbar-text:after {
  		content: "%";
		}
	}
}

//Course overview

.tag {
	display: inline-block;
	float: left;
	font-size: 14px;
	background-color: $gray-dark;
	padding: 3px 7px;
	margin: 0 5px 5px 0;
	color: white;
	text-transform: capitalize;
}
.tag:last-of-type {
	margin-bottom: 15px;
}

.coursepartdetails {
	margin-bottom: 20px;
	.progressbarcontainer {
		margin-bottom: 25px;
	}
	.row:first-of-type {
		position: relative;
		.verticalhr {
			width: 1px;
			height: 100%;
			background-color: $gray;
			position: absolute;
			left: 50%;
		}
		.horizontalhr {
			width: 100%;
			height: 1px;
			background-color: $gray;
			position: absolute;
			bottom: 0;
		}
	}
	.col-md-12 {
		text-align: left;
		p {
			margin-bottom: 0;
		}
		.goofont-icon-checked {
			color: #8bc34a;
			padding: 4px 4px 0 0;
		}
		.time {
			font-size: 25px;
		}
	}
}

.imagedescription {
	text-align: center;
	font-size: 14px;
}

.stepsoverview {
	a, a:hover {
		color: $gray;
	}
	h1, h2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: normal;
	}
	h2 {
		span {
			font-weight: lighter;
		}
	}
	img {
		padding: 0 !important;
		width: 100%;
		height: auto;
	}
	.coursepartdetails {
		text-align: left;
		height: 100%;

		p {
			margin-bottom: 5px;
		}
		.goofont-icon-checked {
			color: #8bc34a;
			padding: 4px 4px 0 0;
		}
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
@import "off-canvas";
@import "tutorial-list";
