<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/bootstrap-theme.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="36x36" href="{{ '/touchicon-36.png' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="48x48" href="{{ '/touchicon-48.png' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="72x72" href="{{ '/touchicon-72.png' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="96x96" href="{{ '/touchicon-96.png' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="144x144" href="{{ '/touchicon-144.png' | prepend: site.baseurl }}" />
  <link rel="icon" sizes="192x192" href="{{ '/touchicon-192.png' | prepend: site.baseurl }}" />
</head>
