<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} | {{ site.title }}{% else if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<link data-remove-in-create="true" rel="stylesheet" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl }}">
	<link data-remove-in-create="true" rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
	<link data-remove-in-create="true" rel="stylesheet" href="{{ '/css/bootstrap-theme.css' | prepend: site.baseurl }}">
	<link data-remove-in-create="true" rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
	<link data-add-in-create="true" rel="stylesheet" data-href="{{ '/css/gooui.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/css/goofont.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,900,700,500italic,700italic" type="text/css" media="all">
	<link rel="stylesheet" href="{{ '/css/create-style.css' | prepend: site.baseurl }}">

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}" />
	<link rel="icon" sizes="36x36" href="{{ '/touchicon-36.png' | prepend: site.baseurl }}" />
	<link rel="icon" sizes="48x48" href="{{ '/touchicon-48.png' | prepend: site.baseurl }}" />
	<link rel="icon" sizes="72x72" href="{{ '/touchicon-72.png' | prepend: site.baseurl }}" />
	<link rel="icon" sizes="96x96" href="{{ '/touchicon-96.png' | prepend: site.baseurl }}" />
	<link rel="icon" sizes="144x144" href="{{ '/touchicon-144.png' | prepend: site.baseurl }}" />
	<link rel="icon" sizes="192x192" href="{{ '/touchicon-192.png' | prepend: site.baseurl }}" />
</head>
