<div class="col-md-3">
	<div class="list-group manual-nav">
		{% if site.render_navigation and site.render_menus %}
			{% assign pp = site.pages | sort: 'weight' %}

			{% for ppage in pp %}
				{% if ppage.weight and ppage.url contains '/manual' and ppage.hidden != true %}
					{% assign u = ppage.url %}
					<a
						class="
							list-group-item {% if page.url == u %}active{% endif %}
							{% case ppage.indent %}
							{% when 1 %}
								indent-1
							{% when 2 %}
								indent-2
							{% when 3 %}
								indent-3
							{% endcase %}
						"
						href="{{ ppage.url | prepend: site.baseurl }}"
					>
						{% if ppage.menutitle %}{{ ppage.menutitle }}{% else %}{{ ppage.title }}{% endif %}
					</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>