{% assign pages = site.pages | sort: 'url' %}
{% assign level = -1 %}
{% assign lastLevel = -1 %}

{% for page in pages %}
  {% if page.url contains 'manual' %}
    {% assign level = page.url | split: '/' | size %}
    {% if lastLevel == -1 %}
      {% assign lastLevel = level %}
    {% endif %}
    
    {% if level != lastLevel %}
      <ul>
    {% endif %}

    <li>
      <a href="{{ page.url | prepend: site.baseurl | remove: 'index.html' | remove: '.html' }}">{{ page.url }} <!--{{ page.url | remove: 'index.html' | remove: '.html' }}--></a>
    </li>

    {% if level != lastLevel %}
      </ul>
    {% endif %}
    
    {% assign lastLevel = level %}

  {% endif %}
{% endfor %}
