<ul>
  <li><a href="{{ '/manual' | prepend: site.baseurl }}">User manual</a></li>
  <ul>
    <li><a href="{{ '/manual/dashboard' | prepend: site.baseurl }}">Dashboard</a></li>
    <ul>
      <li><a href="{{ '/manual/dashboard/newscene' | prepend: site.baseurl }}">Creating a new scene</a></li>
      <li><a href="{{ '/manual/dashboard/templates' | prepend: site.baseurl }}">Templates</a></li>
      <li><a href="{{ '/manual/dashboard/organizations' | prepend: site.baseurl }}">Organizations</a></li>
      <li><a href="{{ '/manual/dashboard/drafts' | prepend: site.baseurl }}">Drafts</a></li>
      <li><a href="{{ '/manual/dashboard/settings' | prepend: site.baseurl }}">Settings</a></li>
      <li><a href="{{ '/manual/dashboard/searching' | prepend: site.baseurl }}">Searching</a></li>
    </ul>
    <li><a href="{{ '/manual/editor' | prepend: site.baseurl }}">Editor</a></li>
    <ul>
      <li><a href="{{ '/manual/editor/viewport' | prepend: site.baseurl }}">Viewport</a></li>
      <li><a href="{{ '/manual/editor/viewport' | prepend: site.baseurl }}">Hierarchy</a></li>
      <li><a href="{{ '/manual/editor/assetbin' | prepend: site.baseurl }}">Asset bin</a></li>
      <li><a href="{{ '/manual/editor/publishing' | prepend: site.baseurl }}">Publishing</a></li>
    </ul>
    <li><a href="{{ '/manual/scene' | prepend: site.baseurl }}">Scene</a></li>
    <ul>
      <li><a href="{{ '/manual/scene/entities' | prepend: site.baseurl }}">Entities</a></li>
      <li><a href="{{ '/manual/scene/components' | prepend: site.baseurl }}">Components</a></li>
      <ul>
        <li><a href="{{ '/manual/scene/components/animation' | prepend: site.baseurl }}">Animation</a></li>
        <li><a href="{{ '/manual/scene/components/camera' | prepend: site.baseurl }}">Camera</a></li>
        <li><a href="{{ '/manual/scene/components/collider' | prepend: site.baseurl }}">Collider</a></li>
        <li><a href="{{ '/manual/scene/components/geometry' | prepend: site.baseurl }}">Geometry</a></li>
        <li><a href="{{ '/manual/scene/components/html' | prepend: site.baseurl }}">HTML</a></li>
        <li><a href="{{ '/manual/scene/components/light' | prepend: site.baseurl }}">Light</a></li>
        <li><a href="{{ '/manual/scene/components/material' | prepend: site.baseurl }}">Material</a></li>
        <li><a href="{{ '/manual/scene/components/rigidbody' | prepend: site.baseurl }}">Rigid body</a></li>
        <li><a href="{{ '/manual/scene/components/script' | prepend: site.baseurl }}">Script</a></li>
        <li><a href="{{ '/manual/scene/components/sound' | prepend: site.baseurl }}">Sound</a></li>
        <li><a href="{{ '/manual/scene/components/statemachine' | prepend: site.baseurl }}">State Machine</a></li>
        <li><a href="{{ '/manual/scene/components/transform' | prepend: site.baseurl }}">Transform</a></li>
      </ul>
      <li><a href="{{ '/manual/scene/snapshots' | prepend: site.baseurl }}">Snapshots</a></li>
      <li><a href="{{ '/manual/scene/document' | prepend: site.baseurl }}">Document</a></li>
      <li><a href="{{ '/manual/scene/environment' | prepend: site.baseurl }}">Environment</a></li>
      <li><a href="{{ '/manual/scene/postfx' | prepend: site.baseurl }}">Post Effects</a></li>
      <li><a href="{{ '/manual/scene/size' | prepend: site.baseurl }}">Size</a></li>
      <li><a href="{{ '/manual/scene/stats' | prepend: site.baseurl }}">Stats</a></li>
      <li><a href="{{ '/manual/scene/license' | prepend: site.baseurl }}">License</a></li>
    </ul>
    <li><a href="{{ '/manual/assets' | prepend: site.baseurl }}">Assets</a></li>
    <ul>
      <li><a href="{{ '/manual/assets/packs' | prepend: site.baseurl }}">Packs</a></li>
      <li><a href="{{ '/manual/assets/material' | prepend: site.baseurl }}">Material</a></li>
      <li><a href="{{ '/manual/assets/script' | prepend: site.baseurl }}">Script</a></li>
      <li><a href="{{ '/manual/assets/skybox' | prepend: site.baseurl }}">Skybox</a></li>
      <li><a href="{{ '/manual/assets/sound' | prepend: site.baseurl }}">Sound</a></li>
      <li><a href="{{ '/manual/assets/texture' | prepend: site.baseurl }}">Texture</a></li>
    </ul>
  </ul>
</ul>
<ul>
  <li><a href="{{ '/tutorials' | prepend: site.baseurl }}">Tutorials</a></li>
  <ul>
    <li><a href="{{ '/tutorials/scripting' | prepend: site.baseurl }}">Scripting</a></li>
  </ul>
</ul>