<ul>
  <li><a href="{{ '/manual' | prepend: site.baseurl }}">User manual</a></li>
  <ul>
    <li><a href="{{ '/manual/audio/' | prepend: site.baseurl }}">Audio</a></li>
    <li><a href="{{ '/manual/graphics/' | prepend: site.baseurl }}">Graphics</a></li>
    <li><a href="{{ '/manual/physics/' | prepend: site.baseurl }}">Physics</a></li>
    <ul>
      <li><a href="{{ '/manual/scripting/parameters/' | prepend: site.baseurl }}">Parameters</a></li>
    </ul>
  </ul>
</ul>
<ul>
  <li><a href="{{ '/tutorials' | prepend: site.baseurl }}">Tutorials</a></li>
  <ul>
    <li><a href="{{ '/tutorials/scripting/' | prepend: site.baseurl }}">Scripting</a></li>
  </ul>
</ul>