<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="course courseoverviewblock overviewblock
    {% if ppage.difficulty_overall %} difficulty{{ ppage.difficulty_overall }}{% endif %}
    {% if ppage.usecase %}usecase{{ ppage.usecase }}{% else %}usecase2{% endif %}
    {% if ppage.contains_scripts == true %}code1{% else %}code0{% endif %}
  ">
  <div class="ribboncontainer">
    <div class="coursecompletionmark ribbon" data-url="{{ ppage.url }}" >
      completed
    </div>
    <div class="progressbarcontainer progressbarcreate" data-tutorials="{% assign tt = site.pages %}{% for tpage in tt %}{% if tpage.layout == "coursepart" and tpage.url contains ppage.url %}{{ tpage.url }} {% endif %}{% endfor %}">
    </div>
  </div>
    <div class="imgcontainer-create">
      <img src="{{ ppage.thumbnail }}" />
    </div>
    <div class="title">
      <h2>{{ppage.title}}</h2>
    </div>
    <p class="difparent">
      <span class="difficulty">
        {% case ppage.difficulty_overall %}
        {% when 0 %}
          Beginner
        {% when 1 %}
          Intermediate
        {% when 2 %}
          Expert
        {% else %}
        <br />

        {% endcase %}
        {% if ppage.contains_scripts == true %}
          </span>
          <span class="goofont goofont-icon-script"></span>
        {% endif %}
    </p>
    <div class="imgcontainer">
      <img src="{{ ppage.thumbnail }}" />
    </div>
    <p class="shortdescription">
        {{ ppage.short_description }}
    </p>

    <a id="buttonlink" href="{{ ppage.url }}">
      <div class="button coursebutton">Go to course</div>
    </a>
    <hr class="createhr">
  </div>
</div>
