<div class="col-md-4">
  <div class="course overviewblock
{% case ppage.difficulty_overall %}
  {% when 0 %}
    Beginner
  {% when 1 %}
    Intermediate
  {% when 2 %}
    Expert
  {% else %}
  {% endcase %}

  {% if ppage.usecase %}
    {% case ppage.usecase %}
    {% when 0 %}
      Games
    {% when 1 %}
      Webdesign
    {% when 2 %}
      Else
    {% endcase %}
  {% else %}
  Else
  {% endif %}
    {% if ppage.contains_scripts == true %}
    code {% else %} nocode {% endif %}
  ">
    <h2>{{ppage.title}}</h2>
    <p>
      <span class="difficulty">
        {% case ppage.difficulty_overall %}
        {% when 0 %}
          Beginner
        {% when 1 %}
          Intermediate
        {% when 2 %}
          Expert
        {% else %}
        <br />

        {% endcase %}
        {% if ppage.contains_scripts == true %}
          </span>
          <span class="goofont goofont-icon-script"></span>
        {% endif %}
    </p>
    <hr />
    <div class="imgcontainer">
      <img src="{{ ppage.thumbnail }}" />
    </div>
    <p class="shortdescription">
        {{ ppage.short_description }}
    </p>
    <div class="progressbarcontainer">
    </div>
    <a id="buttonlink" href="{{ ppage.url }}">
      <div class="button">
        Pick up where you left
      </div>
    </a>
  </div>
</div>
