<div class="col-md-4">
  <div class="overviewblock">
    <h2>Beginner Course</h2>
    <p>
      <span class="difficulty">Beginner</span> <span class="goofont goofont-icon-script"></span>
    </p>
    <hr />
    <p>
      et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
    </p>
    <img src="/tutorials/create/camera-light/thumb.jpg" />
    <div class="progressbarcontainer">
    </div>
    <div class="button">
      Pick up where you left
    </div>
  </div>
</div>
