<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="tutorial overviewblock
    {% if ppage.difficulty_overall %}difficulty{{ ppage.difficulty_overall }}{% endif %}
    {% if ppage.usecase %}usecase{{ ppage.usecase }}{% else %}usecase2{% endif %}
    {% if ppage.contains_scripts == true %}code1{% else %}code0{% endif %}
  ">
    <div class="ribboncontainer">
      <div class="completionmark ribbon" data-url="{{ ppage.url }}" >
        completed
      </div>
    </div>

    <div class="imgcontainer-create">
      <img src="{{ ppage.thumbnail }}" />
    </div>
    <div class="title">
      <h2>{{ppage.title}}</h2>
    </div>

    <p>
      <span class="difficulty">
        {% case ppage.difficulty_overall %}
        {% when 0 %}
          Beginner
        {% when 1 %}
          Intermediate
        {% when 2 %}
          Expert
        {% else %}
        <br />

        {% endcase %}
        {% if ppage.contains_scripts == true %}
          </span>
        <span class="goofont goofont-icon-script"></span>
      {% endif %}
    </p>
    <div class="imgcontainer">
      <img src="{{ ppage.thumbnail }}" />
    </div>
    <p class="shortdescription">
        {{ ppage.short_description }}
    </p>
    <a href="{{ ppage.url }}">
      <div class="button tutorialbutton">
        Start tutorial
      </div>
    </a>
    <hr class="createhr">
  </div>
</div>
