{% if site.render_navigation and site.render_prev_next_btns %}
	<hr>
	<div class="row">
		<div class="col-md-4 content">
			{% assign pp = site.pages | sort: 'weight' %}
			{% assign lastPageUrl = -1 %}
			{% assign lastPageTitle = -1 %}
			{% assign lastPageWeight = -1 %}
			{% for ppage in pp %}
				{% if ppage.url contains '/manual' and ppage.hidden != true%}
					{% if lastPageWeight != -1 and ppage.weight and ppage.url == page.url %}
						<a class="btn btn-default btn-block btn-secondary prev-button" href="{{ lastPageUrl | prepend: site.baseurl }}" style="text-overflow: ellipsis;overflow: hidden;">
							<span class="glyphicon glyphicon-arrow-left"></span>{{ lastPageTitle }}
						</a>
					{% endif %}
					{% assign lastPageUrl = ppage.url %}
					{% assign lastPageTitle = ppage.title %}
					{% assign lastPageWeight = ppage.weight %}
				{% endif %}
			{% endfor %}
		</div>

		<div class="col-md-4 content"></div>

		<div class="col-md-4 content">
			{% assign lastPageUrl = -1 %}
			{% assign lastPageTitle = -1 %}
			{% assign lastPageWeight = -1 %}
			{% for ppage in pp %}
				{% if ppage.url contains '/manual' %}
					{% if ppage.weight and lastPageUrl == page.url and ppage.hidden != true %}
						<a class="btn btn-default btn-block btn-secondary next-button" href="{{ ppage.url | prepend: site.baseurl }}" style="text-overflow: ellipsis;overflow: hidden;">
							{{ ppage.title }}<span class="glyphicon glyphicon-arrow-right"></span>
						</a>
					{% endif %}
					{% assign lastPageUrl = ppage.url %}
					{% assign lastPageTitle = ppage.title %}
					{% assign lastPageWeight = ppage.weight %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}