{% assign pp = site.pages | sort: 'difficulty_overall' %}
{% for ppage in pp %}
	{% if ppage.layout == "courseoverview" %}
  {{ assign courses[forloop.index] = ppage }}
  {% endif %}
{% endfor %}

<script>
function goBack() {
    window.history.back();
}
</script>

<div class="searchcontainer">
  <div class="row">
    <div class="col-md-2">
      <br />
    </div>
    <div class="col-md-2">
      <select class="difficulty">
        <option disabled selected value="">
          Select difficulty
        </option>
        <option value="0">
          Beginner
        </option>
        <option value="1">
          Intermediate
        </option>
        <option value="2">
          Expert
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <select class="usecase" placeholder="test">
        <option disabled selected value="">
          Select usecase
        </option>
        <option value="0">
          Games
        </option>
        <option value="1">
          Webdesign
        </option>
        <option value="2">
          Other
        </option>
      </select>
  </div>
  <div class="col-md-2">
    <select class="coding">
      <option disabled selected value="">
        Coding options
      </option>
      <option value="0">
        No code
      </option>
      <option value="1">
        Code
      </option>
    </select>
  </div>
    <div class="col-md-2">
      <div class="btn btn-block checkboxholder reset">
        Reset filter
      </div>
    </div>
    <div class="col-md-2">
      <br />
    </div>
  </div>
	<div class="row">
		<div class="col-md-3 continue-button-parent">
				<a class="btn btn-block checkboxholder continue-button">Continue where you left</a>
		</div>
	</div>
</div>
