{% assign pp = site.pages | sort: 'difficulty_overall' %}
	{% for ppage in pp %}
		{% if ppage.layout == "courseoverview" %}
    {{ assign courses[forloop.index] = ppage }}
    {% endif %}
  {% endfor %}


<div class="searchcontainer" onload="getPosts({{ courses }});">
  <form action="">
    <div class="row">
      <div class="col-md-2">
        <br />
      </div>
      <div class="col-md-2">
        <select class="difficulty">
          <option disabled selected>
            Select difficulty
          </option>
          <option>
            Beginner
          </option>
          <option>
            Intermediate
          </option>
          <option>
            Expert
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="usecase" placeholder="test">
          <option disabled selected>
            Select usecase
          </option>
          <option>
            Games
          </option>
          <option>
            Webdesign
          </option>
          <option>
            Other usecases
          </option>
        </select>
    </div>
    <div class="col-md-2">
      <select class="coding">
        <option disabled selected>
          Coding options
        </option>
        <option>
          Code
        </option>
        <option>
          No code
        </option>
        <option>
          Both
        </option>
      </select>
    </div>
      <div class="col-md-2">
        <div class="checkboxholder reset">
          Reset filter
        </div>
      </div>
      <div class="col-md-2">
        <br />
      </div>
    </div>
  </form>
</div>
