<div class="searchcontainer">
  <form action="" method="post">
    <div class="row">
      <div class="col-md-3">
        <input type="text" placeholder="Search Goo Learn"/>
      </div>
      <div class="col-md-3">
        <select name="difficulty">
          <option disabled selected>
            Difficulty
          </option>
          <option>
            Beginner
          </option>
          <option>
            Intermediate
          </option>
          <option>
            Expert
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <select name="usecase" placeholder="test">
          <option disabled selected>
            Usecase
          </option>
          <option>
            Games
          </option>
          <option>
            Product config
          </option>
          <option>
            Advertisement
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <div class="checkboxholder">
          <input type="checkbox" name="code" class="checkbox"/>
          <label></label>
        </div>
        <div class="searchbutton">
          <span class="glyphicon glyphicon-search" aria-hidden="true" title="Search"></span>
        </div>
      </div>
    </div>
  </form>
</div>
