{% assign i = '&middot;&nbsp;&nbsp;' %}
{% assign i2 = '&middot;&nbsp;&middot;&nbsp;&nbsp;' %}
<div class="col-md-3">

  <div class="list-group">
    {% assign pp = site.pages | sort: 'weight' %}

    {% for ppage in pp %}
      {% if ppage.weight %}
        {% assign u = ppage.url %}
        <a class="list-group-item {% if page.url == u %}active{% endif %}" href="{{ ppage.url | prepend: site.baseurl }}">
          {% case ppage.indent %}
          {% when 1 %}
            {{ i }}
          {% when 2 %}
            {{ i2 }}
          {% endcase %}
          {{ ppage.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>

</div>
