{% assign i = '&middot;&nbsp;&nbsp;' %}
{% assign i2 = '&middot;&nbsp;&middot;&nbsp;&nbsp;' %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    {% for menuItem in site.data.menu %}
      {% assign u = menuItem.url | append: '/index.html' %}
      <a class="list-group-item {% if page.url == u %}active{% endif %}" href="{{ menuItem.url | prepend: site.baseurl }}">
        {% case menuItem.indent %}
        {% when 1 %}
          {{ i }}
        {% when 2 %}
          {{ i2 }}
        {% endcase %}
        {{ menuItem.title }}
      </a>
    {% endfor %}
  </div>
</div>