<div class="col-md-3">
	<div class="list-group tutorial-nav">
		{% if site.render_navigation and site.render_menus %}
			{% assign pp = site.pages | sort: 'weight' %}

			{% for ppage in pp %}
				{% if ppage.weight and ppage.url contains '/tutorials' and ppage.hidden != true %}
					{% assign u = ppage.url %}
					<a
						class="
							list-group-item {% if page.url == u %}active{% endif %}
							{% case ppage.indent %}
							{% when 1 %}
								indent-1
							{% when 2 %}
								indent-2
							{% when 3 %}
								indent-3
							{% endcase %}
						"
						href="{{ ppage.url | prepend: site.baseurl }}"
					>
						{% if ppage.menutitle %}{{ ppage.menutitle }}{% else %}{{ ppage.title }}{% endif %}
						<div class="pull-right">
							{% if ppage.contains_video %}
								<span class="glyphicon glyphicon-film" aria-hidden="true" title="Video"></span>
							{% endif %}
							{% if ppage.contains_scripts %}
								<span class="goofont goofont-icon-script"></style>
							{% endif %}
						</div>
					</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>

