---
layout: default
---

<div class="col-md-8">
	<p>
		{{ page.description }}
	</p>
	<br />
	<!-- <iframe width="800" height="450" src="https://c1.goote.ch/{{ page.scene }}" allowfullscreen></iframe> -->
	<p class="imagedescription">
		This is the result of what you're going to make this course<br />
		<a href="https://c1.goote.ch/{{ page.scene }}" target="_blank">
			Click here to check out the scene full screen in a new tab
		</a>
	</p>
</div>

<div class="col-md-4">
	<div class="overviewblock coursepartdetails">
		<div class="row">
			<div class="verticalhr"></div>
			<div class="horizontalhr"></div>
			<div class="col-md-6">
				<p>
					Your progress
				</p>
				<div class="progressbarcontainer" data-tutorials="{% assign pp = site.pages %}{% for ppage in pp %}{% if ppage.layout == "coursepart" and ppage.url contains page.url %}{{ ppage.url }} {% endif %}{% endfor %} test"></div>

		</div>
			<div class="col-md-6">
				<p>
					Tags
				</p>
				{% assign words = page.tags | split: ", " %}
				{% for word in words  %}<div class="tag">{{ word }}</div>{% endfor %}
			</div>
			<hr />
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<p>
					In this part you will learn about:
				</p>
				{% assign words = page.achievements | split: ", " %}
				{% for word in words  %}
				<span class="goofont goofont-icon-checked"></span><span class="achievement">{{ word }}</span><br />
				{% endfor %}
				<br />
				<p>
					Duration:
				</p>
				<p>
					<span class="time">{{ page.duration }}</span>
				</p>
			</div>
		</div>
	</div>
	<div style="padding: 0 4px;">
		<a href="{{ page.url }}/1">
			<div class="button largebutton width100">
				Start the course
			</div>
		</a>
	</div>
</div>


<div class="col-md-12">
	<br />
	<div class="content stepsoverview">
		<h1>Parts overview</h1>


		{% assign pp = site.pages | sort: 'part' %}
		{% for ppage in pp %}
			{% if ppage.part and ppage.url contains page.url%}
			<a href="{{ ppage.url }}">
		<div class="stepblock">
			<div class="row">
				<div class="col-md-12">
						<h2>Part {{ ppage.part }}: <span>{{ ppage.title }}</span></h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<img src="{{ ppage.thumbnail }}" />
				</div>
				<div class="col-md-4">
					<div class="overviewblock coursepartdetails">
						<div class="row">
							<div class="col-md-12">
								<p>
									Tags
								</p>
								{% assign words = ppage.tags | split: ", " %}
								{% for word in words  %}<div class="tag">{{ word }}</div>{% endfor %}
							</div>
						</div>
							<div class="row">
								<div class="col-md-12">
								<p>
									In this course you will learn about:
								</p>
								{% assign words = page.achievements | split: ", " %}
								{% for word in words  %}
								<span class="goofont goofont-icon-checked"></span><span class="achievement">{{ word }}</span><br />
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		</a>
		<br />
		{% endif %}
	{% endfor %}

		{% include prev-next-buttons-tutorial.html %}
	</div>
</div>
	<div class="col-md-12">
	{% assign pp = site.pages | sort: 'part' %}
	{% for ppage in pp %}
		{% if ppage.part == 1 and ppage.url contains page.url %}
			<a href="{{ppage.url}}">
				<div class="button centerbutton largebutton " onclick="setTutorialDoneStatus('{{ page.url }}')">
					Go to the first part:<span> {{ppage.title}}</span>
				</div>
			</a>
		{% endif %}
	{% endfor %}
	</div>
