<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        {% include breadcrumbs.html %}
        {{ content }}
        {% include themenu.html %}
      </div>
      {% include footer.html %}
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
          $('.row-offcanvas').toggleClass('active')
        });
      });
    </script>

    <script>
    $(function() {
      return $("h2, h3, h4, h5, h6").each(function(i, el) {
        var $el, icon, id;
        $el = $(el);
        id = $el.attr('id');
        icon = '<i class="fa fa-link"></i>';
        if (id) {
          return $el.prepend($(" <a />").addClass("header-link").attr("href", "#" + id).html(icon));
        }
      });
    });
    </script>

  </body>

</html>
