---
layout: default
---
{% assign pp = site.pages | sort: 'difficulty_overall' %}
<div class="row courses">
	<div class="col-md-12">
		<a class="homeh1" name="courses">
		<h1 >Courses</h1>
		</a>
	</div>
	{% for ppage in pp %}
		{% if ppage.layout == "courseoverview" %}
			{% include overviewblock_course.html %}
		{% endif %}
	{% endfor %}
</div>

{% assign pp = site.pages | sort: 'weight' %}
<div class="row tutorials">
	<div class="col-md-12">
		<a class="homeh1" name="tutorials">
		<h1 >Tutorials</h1>
	</a>
	</div>
	{% for ppage in pp %}
		{% if ppage.layout == "tutorial" %}
			{% include overviewblock_tutorial.html %}
		{% endif %}
	{% endfor %}
</div>

<script src="{{ '/js/filterbarhandler.js' | prepend: site.baseurl }}"></script>
