---
layout: default
---



<div class="row continue-tutorial">
	<div class="col-md-6 col-md-offset-3">
		<p>
			<a class="btn btn-primary btn-lg btn-block continue-button">Continue where you left <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
		</p>
	</div>

</div>
<a class="homeh1" name="tutorials">
</a>		<a class="homeh1" name="courses">
</a>

<div class="row tutorials">
	<div class="col-md-12">
		<a class="homeh1" name="tutorials">
	</a>		<a class="homeh1" name="courses">
		</a>
	<hr class="createhr">
	</div>
	<div class="row">
		{% assign pp = site.pages | sort: 'difficulty_overall' %}
		{% assign i = 0 %}
		{% for ppage in pp %}
			{% if ppage.layout == "courseoverview" %}
				{% include overviewblock_course.html %}
			{% endif %}
		{% endfor %}

		{% assign pp = site.pages | sort: 'weight' %}
	{% assign i = 0 %}
	{% for ppage in pp %}
		{% if ppage.layout == "tutorial" and ppage.difficulty_overall %}
			{% include overviewblock_tutorial.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>

<div class="noresults">
	<img src="img/create-crying-goon.gif" alt="" />
	<span>We found nothing that meets your requirements</span>

</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
	markTutorialsAsFinished();
});
</script>
